<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link crossorigin="anonymous" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" rel="stylesheet">
    <title>GetFit</title>
    <style>
        .header {
            height: 90vh;
            width: 100%;
            background: linear-gradient(to right, rgba(0, 0, 0, .4), rgba(0, 0, 0, .5)), url(https://images.pexels.com/photos/3823063/pexels-photo-3823063.jpeg);
            color: white;
            background-size: cover;
        }

        h1 {
            font-size: 4vw;

        }

        h2 {
            font-size: 3vw;
        }

        h3 {
            font-size: 2vw;
        }

        .section3para {
            width: 30vw;
        }

        .section4 {
            height: auto;
            width: 100%;
            background: linear-gradient(to right, rgba(0, 0, 0, .4), rgba(0, 0, 0, .5)), url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWOuxFbD56OljzZhmrMk9_g6Wv_O_LnpaL2w&usqp=CAU);
            background-size: cover;

        }

        .section3 {
            background-color: #e9e9fa;
        }

        .btn {
            background-color: #ef9b14;
        }

        .trainerSection {
            /* background: linear-gradient(to right ,rgba(0,0,0,.4), rgba(0,0,0,.5)),url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSWOuxFbD56OljzZhmrMk9_g6Wv_O_LnpaL2w&usqp=CAU); */
            background-color: #e9e9fa;

        }

    </style>
</head>
<body>
<section>

    <!-- nav bar -->

    <!-- <nav class="navbar navbar-expand-lg bg-white">
        <div class="container">
          <p class="navbar-text fs-1 fw-semibold my-auto">FitXplore </p>



          <div class=" " id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item ">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link " href="#">Classes</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Features</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Plans</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Trainers</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Reviews</a>
              </li>
              <li class="nav-item">
                <a class="nav-link ">Contact Us</a>
              </li>
            </ul>
          </div>
        </div>
      </nav> -->
    <nav class="navbar bg-white px-5 sticky-top " id="navbar-example2 ">
        <p class="navbar-text fs-1 fw-semibold my-auto">FitXplore </p>
        <ul class="nav nav-pills  h-auto">
            <li class="nav-item my-auto fs-5">
                <a class="nav-link link-dark" href="#home">Home</a>
            </li>
            <li class="nav-item my-auto fs-5  ">
                <a class="nav-link link-dark" href="#aboutUs">About Us</a>
            </li>
            <li class="nav-item my-auto fs-5  ">
                <a class="nav-link link-dark" href="#features">Features</a>
            </li>
            <li class="nav-item my-auto fs-5  ">
                <a class="nav-link link-dark" href="#trainers">Trainers</a>
            </li>
            <li class="nav-item my-auto fs-5  ">
                <a class="nav-link link-dark" href="#review">Reviews</a>
            </li>
            <li class="nav-item my-auto  fs-5 ">
                <a class="nav-link link-dark" href="#contactUs">Contact Us</a>
            </li>
            <li class="nav-item my-auto  fs-5 ">
                <a class="btn   w-auto rounded-pill m-3" href="#subscribeNow" role="button">Subscribe Now</a>
            </li>

        </ul>
    </nav>

    <!-- nav bar end -->

    <header class="header" id="home">
        <div class="container h-100">
            <div class="row h-100 p-5">
                <div class="col-md-12 ">
                    <h3 class=" p-2">Get Fit </h3>

                    <h2 class=" fst-italic">Practice</h2>
                    <h1 class="fw-bolder">Anytime, Anywhere</h1>
                    <br>
                    <div class="w-50"><p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima delectus
                        voluptas, dicta voluptate ab sit odit error ipsam? Temporibus laboriosam delectus illum.
                        Repellat eos placeat dolores ullam illum esse fugit?</p></div>
                </div>

            </div>

        </div>

    </header>

    <!-- end of header section -->

    <!-- start of sec sectiom -->

    <div class="container h-100 my-5 " id="aboutUs">
        <div class="row">
            <div class="col-lg-6 p-5 ">
                <div class="text-center">
                    <img class="  w-75 rounded-3 "
                         src="https://images.pexels.com/photos/3823075/pexels-photo-3823075.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                </div>
            </div>
            <div class=" col-lg-6 p-5 text-center my-auto ">
                <h1 class="fw-bolder ">WE BELIEVE</h1>
                <h1 class="fw-bolder ">IN <span class="fst-italic">Training </span></h1>
                <br>
                <div class="text-center  w-75 container mt-2">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, excepturi optio? Numquam cum
                    repudiandae corporis perspiciatis hic? Assumenda ex, optio deserunt officiis ipsa quis
                    necessitatibus eaque reiciendis rerum laudantium accusamus!
                </div>
                <br>
                <div class="row w-75 mx-auto mt-5">
                    <span class="fw-semibold fst-italic fs-1 col-sm-4 text-primary">300+</span>
                    <span class="fw-semibold fst-italic fs-1 col-sm-4 text-primary">20</span>
                    <span class="fw-semibold fst-italic fs-1 col-sm-4 text-primary">    11</span>
                </div>
                <div class="row w-75 mx-auto">
                    <span class="col-sm-4 fs-6 fst-normal">Clients</span>
                    <span class="col-sm-4 fs-6 fst-normal">Trainers</span>
                    <span class="col-sm-4 fs-6 fst-normal">Sessions</span>
                </div>
            </div>
        </div>
    </div>

    <!-- end of sec section  -->

    <!-- start of third section -->


    <div class=" h-75 w-auto mt-5  " id="features">
        <h1 class="fw-normal  text-center mainHeadings"><span class="fst-italic">Became a </span><span
                class="fw-bolder"> FITXPLORER</span></h1>
        <p class="text-center fs-5 w-25 mx-auto my-4">Join one of our plans and get access of our services </p>

        <div class="row py-4">

            <div class=" col-md-4 p-lg-5  text-center bg-secondary d-flex justify-content-evenly ">
                <div class="w-75 h-75 text center card-body m-5 h-auto bg-white my-auto  p-5 ">
                    <h3 class="fst-italic">Trainers</h3>
                    <ul class="list-group list-group-flush  p-2">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                        <li class="list-group-item">And a fifth one</li>
                    </ul>
                </div>
            </div>

            <div class="col-md-4 px-5 ">
                <div class="text-center">
                    <img class="  w-100 rounded-3 "
                         src="https://images.pexels.com/photos/3823075/pexels-photo-3823075.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1">
                </div>
            </div>


            <div class=" col-md-4 p-lg-5  text-center bg-secondary d-flex justify-content-evenly ">
                <div class="w-75 h-75 text center card-body m-5 h-auto bg-white my-auto p-5 ">
                    <h3 class="fst-italic">Trainers</h3>
                    <ul class="list-group list-group-flush p-2">
                        <li class="list-group-item">An item</li>
                        <li class="list-group-item">A second item</li>
                        <li class="list-group-item">A third item</li>
                        <li class="list-group-item">A fourth item</li>
                        <li class="list-group-item">And a fifth one</li>
                        <li class="list-group-item">And a fifth one</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

    <!-- section 3 start -->

    <div class="container section3 p-4 my-5 " id="subscribeNow">
        <h1 class="fw-normal  text-center "><span class="fst-italic">Trainee </span><span
                class="fw-bold"> OR </span><span class="fst-italic">Trainer</span></h1>
        <h1 class="text-center"><span class="fw-bold">THE CHOICE IS YOURS </span></h1>
        <p class="text-center fs-5 mx-auto p-4 section3para">We let You stream live, So you can feel the studio wherever
            you are!</p>

        <div class="container row d-flex justify-content-evenly ">
            <div class="col-2"></div>
            <div class="col-3 shadow-lg  mb-5 bg-body card-body rounded m-3 mx-lg-5 rounded-3  py-5 ">
                <h3 class="font-monospace text-center p-2">Trainers</h3>
                <p class="fs-3 fst-italic text-center">"Let's Train" </p>
                <h1 class="fw-bolder text-primary text-center mb-0 pb-0">₹699</h1>
                <p class="text-end mt-0 pt-0">per/month</p>
                <div class="d-flex justify-content-center">
                    <a class="btn   w-auto rounded-pill px-4 py-2 mt-2" href="/subscribeTrainer" role="button"
                       target="_blank">Subscribe Now</a></div>
            </div>

            <div class="col-3 shadow-lg  mb-5 bg-body card-body rounded m-3 mx-lg-5  rounded-3  py-5 ">
                <h3 class="font-monospace text-center p-2">Trainees</h3>
                <p class="fs-3 fst-italic text-center">"Let's Get Fit" </p>
                <h1 class="fw-bolder text-primary text-center mb-0 pb-0">₹499</h1>
                <p class="text-end mt-0 pt-0">per/month</p>
                <div class="d-flex justify-content-center">
                    <a class="btn   w-auto rounded-pill px-4 py-2 mt-2 " href="/subscribeClient" role="button"
                       target="_blank">Subscribe Now</a></div>
            </div>
            <div class="col-2"></div>

        </div>


    </div>
    </div>

    <!-- plan section end  -->

    <!-- Trainer section start -->

    <div class="my-lg-5" id="trainers">

        <div>
            <h1 class="text-center pt-3"><span class="fw-bold">THEY MAKE IT </span><span
                    class="fst-italic">Happen</span></h1>
            <p class="text-center fs-5 mx-auto pb-4 pb-2 section3para">Our Trainer work hard to create exercise right
                for you, they make you Fit!</p>
        </div>

        <div class="section4 mx-auto">
            <div class=" row d-flex justify-content-evenly container mx-auto">
                <div class="col-3 bg-white rounded-3 card-body m-5   ">
                    <img alt=""
                         class="rounded-circle w-25 mx-auto d-flex justify-content-center h-25" src="https://images.pexels.com/photos/733500/pexels-photo-733500.jpeg?auto=compress&cs=tinysrgb&w=600">
                    <h4 class="text-primary font-monospace text-center pt-2 ">JORDEN</h4>
                    <h5 class="text-center fw-light pb-2">Specializing in Gym Training</h5>
                    <p class=" text-center w-75 mx-auto"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Dolores impedit porro, expedita cum architecto quidem quia mollitia sapiente aperiam ad vitae
                        tenetur saepe doloribus sit veritatis nobis incidunt provident quaerat!</p>

                </div>
                <div class="col-3 card-body bg-white rounded-3  m-5   ">
                    <img alt=""
                         class="rounded-circle w-25 mx-auto d-flex justify-content-center h-25" src="https://images.pexels.com/photos/733500/pexels-photo-733500.jpeg?auto=compress&cs=tinysrgb&w=600">
                    <h4 class="text-primary font-monospace text-center pt-2 ">JORDEN</h4>
                    <h5 class="text-center fw-light pb-2">Specializing in Gym Training</h5>
                    <p class=" text-center w-75 mx-auto"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Dolores impedit porro, expedita cum architecto quidem quia mollitia sapiente aperiam ad vitae
                        tenetur saepe doloribus sit veritatis nobis incidunt provident quaerat!</p>

                </div>
                <div class="col-3 card-body bg-white rounded-3 m-5 ">
                    <img alt=""
                         class="rounded-circle w-25 mx-auto d-flex justify-content-center h-25" src="https://images.pexels.com/photos/733500/pexels-photo-733500.jpeg?auto=compress&cs=tinysrgb&w=600">
                    <h4 class="text-primary font-monospace text-center pt-2">JORDEN</h4>
                    <h5 class="text-center fw-light pb-2">Specializing in Gym Training</h5>
                    <p class=" text-center w-75 mx-auto"> Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        Dolores impedit porro, expedita cum architecto quidem quia mollitia sapiente aperiam ad vitae
                        tenetur saepe doloribus sit veritatis nobis incidunt provident quaerat!</p>

                </div>

            </div>
            <!-- <div class="bg-white rounded-3">
              <img src="https://images.pexels.com/photos/733500/pexels-photo-733500.jpeg?auto=compress&cs=tinysrgb&w=600" alt="" class="rounded-circle w-25">
            -->

        </div>

    </div>

    <!-- trainer section end -->


    <!-- start of review section -->

    <div class="container" id="review">
        <div class="row  d-flex justify-content-evenly">
            <div class="col-5">
                <h1 class="text-center pt-3"><span class="fw-bold">WORDS FROM OUR</span><span class="fst-italic"> Trainees</span>
                </h1>
            </div>
            <div class="col-5 ">
                <p class="text-center fs-5 mx-auto pb-4 pb-2 w-50 mt-5 ">Hear what our trainees wants to say about their
                    experience and their sessions.</p>
            </div>
        </div>


        <div class="row d-flex justify-content-evenly m-5 ">
            <div class="col-3 card-body shadow-lg m-5 bg-body rounded  ">

                <p class="text-center mx-auto w-75">
                    "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea quibusdam ipsam illum corporis?
                    Dolores eum rerum quos possimus. Velit cum est laudantium sit consequuntur dolores nesciunt
                    similique culpa officia quasi!"
                </p>
                <h4 class=" font-monospace text-center pt-2 pb-0">CARLEY</h4>
                <h5 class="text-center fw-light pb-2 pt-0">From Yoga Class</h5>
            </div>


            <div class="col-3 bg-white rounded-3 card-body m-5 shadow-lg bg-body rounded  ">
                <p class="text-center mx-auto w-75">
                    "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea quibusdam ipsam illum corporis?
                    Dolores eum rerum quos possimus. Velit cum est laudantium sit consequuntur dolores nesciunt
                    similique culpa officia quasi!"
                </p>
                <h4 class=" font-monospace text-center pt-2 pb-0">CARLEY</h4>
                <h5 class="text-center fw-light pb-2 pt-0">From Yoga Class</h5>
            </div>


            <div class="col-3 bg-white rounded-3 card-body m-5 shadow-lg  bg-body rounded  ">
                <p class="text-center mx-auto w-75">
                    "Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ea quibusdam ipsam illum corporis?
                    Dolores eum rerum quos possimus. Velit cum est laudantium sit consequuntur dolores nesciunt
                    similique culpa officia quasi!"
                </p>
                <h4 class=" font-monospace text-center pt-2 pb-0">CARLEY</h4>
                <h5 class="text-center fw-light pb-2 pt-0">From Yoga Class</h5>
            </div>
        </div>


    </div>
    <!-- end of review section -->

</section>
</body>
</html>
